<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="LUMINA"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.Luminae"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CampusManagementActivity"
            android:exported="false" />
        <activity
        android:name=".activities.CollegeManagementActivity"
        android:exported="false" />
        <activity
            android:name=".activities.CourseManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityLogActivity"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>